torch==2.0.0               # Для работы с моделями (Whisper)
whisper==1.0.0             # Библиотека Whisper от OpenAI
pydub                     # Для работы с аудиофайлами (конвертация форматов)
soundfile                 # Для чтения и записи аудио в формате WAV
ffmpeg-python             # Для использования FFmpeg через Python
nltk==3.8.1                 # Для токенизации и работы с текстами
textblob==0.17.1            # Библиотека для анализа тональности
fastapi
uvicorn
torch
torchvision
pydantic
pillow
numpy
python-multipart
pytest

